
.out{
    margin: 100px 700px  100px 200px ;
    border-style: none solid solid solid;
    border-color: #cccccc;
    
    
}
.background{
    background-color: #17A2B8;
    height: 120px;
}
.profilepicture{
    position: relative;
    margin-top: -60px;
    margin-left: 20px;
    
}

.main-profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style:solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 3px #B8B8B8;
    position: relative;
    font-family: "Coming Soon", cursive;
   
}

.locationicon{
    height: 20px;
    width: 15px;
    padding-right: 10px;
    
}
.location{
    align-items: center;
    display: flex;
    padding-left: 20px;
    margin-top: -30px;
}
.gearicon{
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
.editprofile{
    display: flex;
    font-size: 20px;
    padding-left: 20px;
    
}
.description{
    padding-left: 20px;
}
.nav{
    display: flex;
    align-items: center;
    background-color: #333333;
    font-family: "Roboto", sans-serif;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    font-size: 15px;
    color:#333333;
    margin-left: 5%;
    text-decoration: none;
    text-underline-offset: none

}
.active{
    color: white;
    font-size: 20px;
}
.nav-title{
    color: white;
    margin-left: 200px;
}
a{
    color: #CBCBCB;   
}
.btn{
    background-color:#17a2b8 ;
    color: white;
    padding:0 10 10 10;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    box-shadow: 5px 5px 0px black;   
    margin-right: -1000px;
    margin-left: 750px;
}

.educ{

    margin: 100px 700px  100px 200px ;
    
    border-style: none solid solid solid;
    border-color: #cccccc;
}
.backgroundeducation{
    background-color: #333333;
    height: 80px;
    color: white;
    font-size: 40px;
    padding-left: 20px;

}
.sub{
    color: #B8B8B8;
}
.dojo{
    padding-left: 20px;
}
.mar_left{
    display: flex;
    align-items: center;
    margin-left: 1300px;
    margin-top: -1300px;
}
.connections{
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 50px;
    width:320px;
    padding-left: 10px;
    color: white;
    margin-top: 20px;
    
    
    
}
.btn2{
    background-color:#B8B8B8;
    color:black;
    font-size: 20px;
    border-style: none;
    border-radius: 60px;
    margin-left: 100;
    margin-top: 50;
    margin-right: 10px;
    padding:5 15 5 15;
}
.tick{
    
    height: 40px;
    width: 30px;
    cursor: pointer;
    
}
.user{
    height: 50px;
    width: 30px;
    margin-left: -120px;
    margin-right: 5px;
    border-radius: 50%;
    border-style:solid;
    border-color:black;
    box-shadow: 0 0 0px 0px;
    position: relative;
    
}
.friendsrequest{
    display:flex;
    align-items: center;
    color: #333333;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 20px;
    
}
.name{
    margin-right: 50px;
    margin-left: 20px;
    font-size: 20px;
}
.decline{
    height: 40px;
    width: 30px;
    cursor: pointer;
}
.request1{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -80px;
}
.request2{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -80px;
    
}
.user2{
    height: 50px;
    width: 30px;
    margin-left: -120px;
    margin-right: 5px;
    border-radius: 50%;
    border-style:solid;
    border-color:black;
    box-shadow: 0 0 0px 0px;
    position: relative;
}


#borderconnections{
    display: flex;
    align-items: center;
    margin-top: 700px;
    margin-left: -200px;
    margin-right: 200px;
    
}
#connections{
    margin-top: 500px;
    
}
.yourconnnections{
    display:flex;
    align-items: center;
    color: white;
    background-color: #333333;
    padding-left: 50px;
    padding-right: 170px;
    margin-bottom: 190px;
    font-size: 20px;
    
}
#btn3{
    position: relative;
    background-color:#B8B8B8;
    color:black;
    border-style: none;
    border-radius: 60px;
    font-size: 20px;
    margin-right: -20px;
    margin-left:-50px;
    padding:5 15 5 15;
    padding:5px;
    margin-bottom: 190px;
}
.more{
    color: blue;
    
}
#viewmore{
    margin-top: 1200px;
    margin-left: -450px;
    border-style: solid;
    padding: 10px 200px 10px 20px;
    border-color: #CBCBCB;
}
#request3{
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: -220px;
    color: black;
    font-family: "Roboto", sans-serif;
    
}
#request4{
    
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -220px;
    color: black;
    font-family: "Roboto", sans-serif;
    
}
#request5{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -335px;
}
#request6{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-left: -335px;
   
}
#image1{
    display: flex;
    align-items: center;
    height: 50px;
    width: 30px;

}
#image2{
    height: 50px;
    width: 30px;
    
    display: flex;
    align-items: center;
    
   
}
