.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
    
}
.top-nav {
    height: 150px;
    background-color: green;
   
    
}
.side-nav {
    height: 300px;
    width: 250px;
    background-color: blue;
    margin: 15px;
}
.main {
    height: 400px;
    width: 900px;
    background-color: red;
    margin: 15px;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 20px;
}
#advertisement {
    height: 120px;
    width: 720px;
    background-color: purple;
    margin: 15px;
    
}
.row {
    display: flex;
    padding-top: 10px;
    
}
