#button1 {
    border-style: solid;
    color: #40afb0;
    border-color: #40afb0;
    border-radius: 40px;
    margin-left: 100;
    margin-top: 100;
    font-size: 30px;
    padding: 10 60 10 60;
}
#button2{
    background-color: #40afb0;
    color: white;
    font-size: 40px;
    border-style: none;
    border-radius: 60px;
    margin-left: 100;
    margin-top: 50;
    padding:2 15 2 15;
}
#button3{
    background-color:#2B78E4 ;
    color: white;
    padding:5 30 5 30;
    margin-left: 100;
    margin-top: 50;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 8px 8px 0px black
}