.nav{
    display: flex;
    align-items: center;
    background-color: #333333;
    font-family: "Roboto", sans-serif;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    font-size: 20px;
    color: white;
    margin-left: 70%;
}
.active{
    color: white;
    font-size: 20px;
}
.nav-title{
    color: white;
}
a{
    color: #CBCBCB;   
}
.btn{
    background-color:#17a2b8 ;
    color: white;
    padding:0 10 0 10;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    box-shadow: 5px 5px 0px black;   
}
